.scrollbarStyled::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
  z-index: 20;
}

.scrollbarStyled::-webkit-scrollbar {
  background-color: transparent;
  display: block;
}

.scrollbarStyled::-webkit-scrollbar-thumb {
  background-color: var(--main-neon-green);
  border-radius: 20px;
}
